body{
	background-color: lavender;
}

h1{
	font-size: 30px;
	color:  teal;
}

h2{
	color: red;
	font-size: 20px;
}

.big{
	font-size: 60px;
}

.lowercase{
	text-transform: lowercase;
}

.big.lowercase{
	color: navy;
}

h1 span{
	color: violet;
}